.area {
    display: inline-block;
    color: gray;
    width: 23%; 
} 

.checkbtn {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center; 
}

.resetbtn {
    display: inline-block;
    width: 40%;
    margin-left: 5%; 
    margin-right: 5%;
    text-align: center;
}
