.phonicspanel{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.linebox{
    width: 80px;
    height: 80px;
    z-index: -1;
}
.wline {
    width:80px; height:1px;border:none;border-top:1px dashed lightgray;
}
.phonics {
    width: 80px;
    margin: 0 0 0 0;
    position: absolute;
    vertical-align: center;
    text-align: center;
    font-size: 28px;
    color: black;
}