<div class="area">
    <label class="title">词汇：</label>
    <ul class="content">
        <li *ngFor="let word of lesson.vocabulary | keyvalue">
            {{word.key}} : {{word.value}}
        </li>
    </ul>
</div>
<div class="area">
    <label class="title">句型：</label>
    <ul class="content">
        <li *ngFor="let sentence of lesson.sPattern">
            {{sentence}}
        </li>
    </ul>
</div>
<div class="area">
    <label class="title">自然拼读：</label>
    <ul class="content">
        <li *ngFor="let pMap of lesson.phonics | keyvalue">
            {{pMap.key}} -> {{pMap.value}}
        </li>
    </ul>
</div>