.equations {
    margin: 0em 0em 0em 3em;
    list-style-type: none;
    padding: 0;
}

.equations li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin-bottom: 0.5em;
    height: 1.6em;
  }