<div>
    <span class="factor">{{equation.factor1}}</span>
    <span class="factor">{{equation.operator}}</span>
    <span class="factor">{{equation.factor2}}</span>
    <span class="factor"> = </span>
    <span>(</span>
    <input class="resultInput" [(ngModel)]="equation.input" placeholder="" />
    <span>)</span>
    <span class="questionmark" *ngIf="equation.checked && equation.needCorrection()">?</span>
    <img class="correctmark" src="../../assets/correct.png" *ngIf="equation.checked && !equation.needCorrection()"/>
</div>