.factor{
  display: inline-block;
  width: 12%;
  text-align: center;
}

.resultInput {
    border: 0ch;
    width: 16%;
    color: lightsalmon;
    text-align: center;
    outline:medium;
}

.questionmark {
  width: 10%;
  text-align: center;
  color: red;
}

.correctmark{
  width: 12%;
  height: 1em;
}