.factor{
  display: inline-block;
  width: 6%;
  margin-right: 6%;
  text-align: left;
}

.resultInput {
    border: 0ch;
    width: 16%;
    color: lightsalmon;
    text-align: center;
    outline:medium;
}

.questionmark {
  width: 8%;
  padding-left: 5%;
  text-align: center;
  color: red;
}

.correctmark{
  width: 8%;
  height: 1em;
  padding-left: 5%;
}